<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- navbar -->
  <script defer=true src="{{ '/assets/js/navbar.js' | relative_url }}"></script>

  <!-- stylesheet -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

  <!-- favicon-->
  <link rel="shortcut icon" href="{{ site.favicon | relative_url }}" type="image/x-icon">

  <!-- canonical address -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ 'feed.xml' | absolute_url }}"/>

  {% if page.scripts %}
  <!-- page-specific scripts -->
  {% for script in page.scripts %}
  <script src="{{ script.url | relative_url }}"
    {% if script.hash %}
      integrity="{{ script.hash }}"
      crossorigin="anonymous"
    {%- endif -%}></script>
  {% endfor %}
  {% endif %}

  {% if page.styles %}
  <!-- page-specific style sheets -->
  {% for style in page.styles %}
  <link rel="stylesheet" href="{{ style | relative_url }}">
  {%- endfor -%}
  {% endif %}

  <!-- seo -->
  {% seo %}
</head>
