<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- navbar -->
  <script defer=true src="{{ '/assets/js/navbar.js' | relative_url }}"></script>

  <!-- stylesheet -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

  <!-- favicon-->
  <link rel="shortcut icon" href="{{ site.favicon | relative_url }}" type="image/x-icon">

  <!-- canonical address -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  <!-- seo tags -->
  {% seo %}
</head>
