{% if site.data.social.email_address or site.theme_settings.email_address %}
<li>
	<a href="mailto:{{ site.data.social.email_address }}" title="{{ site.data.language.str_email }}">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.social.facebook or site.theme_settings.facebook %}
<li>
	<a href="https://www.facebook.com/{{ site.data.social.facebook }}" title="{{ site.data.language.str_follow_on }} Facebook">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}

{% if site.data.social.twitter or site.theme_settings.twitter %}
<li>
    <a href="https://twitter.com/{{ site.data.social.twitter }}" title="{{ site.data.language.str_follow_on }} Twitter"
        class="type">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</li>
{% endif %}

{% if site.data.social.instagram or site.theme_settings.instagram %}
<li>
    <a href="http://instagram.com/{{ site.data.social.instagram }}"
        title="{{ site.data.language.str_follow_on }} Instagram">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</li>
{% endif %}

{% if site.data.social.linkedin or site.theme_settings.linkedin %}
<li>
    <a href="{{ site.data.social.linkedin }}" title="{{ site.data.language.str_follow_on }} LinkedIn">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</li>
{% endif %}

{% if site.data.social.github or site.theme_settings.github %}
<li>
	<a href="https://github.com/{{ site.data.social.github }}" title="{{ site.data.language.str_follow_on }} GitHub">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}


{% if site.data.social.gitlab or site.theme_settings.gitlab %}
<li>
	<a href="https://gitlab.com/{{ site.data.social.gitlab }}" title="{{ site.data.language.str_follow_on }} Gitlab">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-gitlab fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{% endif %}


