.home_content {
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
}

#button {
  font-size: xx-large;
  font-weight: 900;
  color: white;
  background-color: #9f03ff;
  padding: 16px;
  border-radius: 16px;
  text-shadow: black 8px;
  transition: 0.6s;
  box-shadow: 0 0 .2rem rgba(0,0,0,.1),0 .2rem .4rem rgba(0,0,0,.2);
}

#button:hover{
  background: #1794fe;
}
