.home-content {
    text-align: center;
    margin-left: 16px;
    margin-right: 16px;
}

#home-button {
    font-size: xx-large;
    font-weight: 700;
    color: white;
    background-color: #5c47ff;
    padding: 16px;
    border-radius: 16px;
    text-shadow: black 8px;
    transition: 0.6s;
    box-shadow: 0 0 .2rem rgba(0,0,0,.1),0 .2rem .4rem rgba(0,0,0,.2);
}

#home-button:hover{
    background: #2d12ff;
}