.item-container, .signature-container {
  display: grid;
}

.item-container {
  grid-template-columns: repeat(2, 1fr);
}

.signature-container {
  grid-template-columns: repeat(4, 1fr);
}

.item {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  margin: 20px 0;

  .picture {
    max-width: 50%;
    object-fit: contain;
    object-position: 0% 0%;
    flex: 0 0 auto;
  }

  .info {
    flex: 1 1 auto;

    .name {
      font-weight: bold;
      font-size: x-large;
      margin-bottom: 0;
      color: #262525;
    }

    .date {
      font-size: x-large;
      color: #363636;
    }

    .title {
      font-size: medium;
      color: #363636;
    }
    
    .location, .description {
      font-size: large;
      color: #363636;
      margin-bottom: 0;
    }

    .role {
      font-size: 20px;
      margin-bottom: 0;
    }
    .grid {
      color: #363636;
      font-size: x-large;
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width : 600px) {
  .item-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width : 1000px) {
  .item {
    flex-direction: column;
    align-items: center;
    text-align: center;

    .picture {
      max-width: 60%;
    }
    .info {
      margin-top: 5px;
    }
  }
}

.skills-container {
  margin-top: 8px;
}

.skill {
  display: inline-block;
  font-family: 'DejaVu Sans Mono';
  font-weight: bold;
  font-size: 15px;
  border-radius: 4px;
  padding: 4px 6px;
  margin: 2px 1px;
  width: max-content;
  background: grey;
  box-shadow: 0 0 .2rem rgba(0,0,0,.1),0 .2rem .4rem rgba(0,0,0,.2);
}

.team-picture {
  border-radius: 50%;
  width: 8em;
  margin: 10px;
}