.resource-container {
    box-sizing: border-box;
    display: grid;
}

.resource-button {
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
    vertical-align: middle;
    color: #ffffff !important;
    background-color: #5c47ff;
    padding: 16px;
    margin: 0px 16px 16px 0px;
    border-radius: 16px;
    text-shadow: black 8px;
    transition: 0.6s;
    box-shadow: 0 20px 50px rgba(59, 43, 91, 0.7);
}

.resource-button:hover{
    background: #2d12ff;
}