.resource-container {
    box-sizing: border-box;
    display: grid;
}

.resource-button {
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
    vertical-align: middle;
    color: white;
    background-color: #9f03ff;
    padding: 16px;
    margin: 0px 16px 16px 0px;
    border-radius: 16px;
    text-shadow: black 8px;
    transition: 0.6s;
    box-shadow: 0 0 .2rem rgba(0,0,0,.1),0 .2rem .4rem rgba(0,0,0,.2);
}

.resource-button:hover{
    background: #1794fe;
}