.person-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.person {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  margin: 20px 0;

  .picture {
    max-width: 50%;
    object-fit: contain;
    object-position: 0% 0%;
    flex: 0 0 auto;
  }

  .info {
    flex: 1 1 auto;

    .name {
      font-weight: bold;
      font-size: x-large;
      margin-bottom: 0;
      color: #262525;
    }

    .role, .location {
      color: #363636;
      font-size: large;
      margin-bottom: 0;
    }

    .grid {
      color: #363636;
      font-size: x-large;
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width : 600px) {
  .person-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width : 1000px) {
  .person {
    flex-direction: column;
    align-items: center;
    text-align: center;

    .picture {
      max-width: 60%;
    }
    .info {
      margin-top: 5px;
    }
  }
}

.skills-container {
  margin-top: 8px;
}

.skill {
  display: inline-block;
  font-family: monospace;
  font-weight: bold;
  border-radius: 4px;
  padding: 4px 6px;
  margin: 2px 1px;
  width: max-content;
  background: grey;
}
