/* font override */
p, h1, h2, h3, h4, h5, h6, button, .name, .tagline {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #f1f2f6;
}
.main {
    background: linear-gradient(135deg, rgba(145,45,245,1) 30%, rgba(68,155,247,1) 100%);
    height: 100vh;
    text-align: center;
    position: fixed;
    width: 100%;
}


.logo {
    width: 50vw;
}

.my-auto { /* fixes main centering */
    margin-top: auto;
    margin-bottom: auto;
}

.main {
    color: #FFFFFF;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.main .btn-outline-primary {
    color: #FFFFFF;
    background-color: #5c47ff;
    border-color: #5c47ff;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(59, 43, 91, 0.7);
    margin: 3px;
}

.main .btn-outline-primary:hover, .main .btn-outline-primary:active:focus {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #5c47ff;
}

.main .name {
    color: white;
    font-size: 3em;
    margin-bottom: 0.5em;
}

.main .name img {
    height: 2em;
}

.main .tagline {
    font-weight: normal;
    margin-bottom: 0.5em;
}

@media screen and (max-width: 1000px) {
    .main .name {
        font-size: 2em;
    }

    .main .tagline {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 500px) {
    .main .tagline {
        font-size: 1em;
    }
}

@media screen and (max-width: 400px) {
    .main .name {
        font-size: 1em;
    }
    .main .tagline {
        font-size: 0.5em;
    }
    .main .btn-outline-primary {
        margin: 5px;
    }
} 